form {
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85vw;
    padding: 1rem 0;
}

form input {
    margin: 0 0 2rem 0;
    padding: .2rem 0;
    width: 30vw;
}

form select {
    margin: 0 0 2rem 0;
    padding: .2rem 0;
    width: 30vw;
}

form textarea {
    margin: 0 0 1rem 0;
    width: 30vw;
    max-width: 30vw;
    height: 15vh;
    max-height: 15vh;
}

form label {
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0 0 .5rem 0;
}

form a {
    font-size: .8rem;
    font-weight: 100;
    margin: 0 0 1rem 0;
}

.btn-noticia {
    cursor: pointer;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    font-family: sans-serif;
    padding: .5rem 1rem;
    background-color: rgb(20, 20, 100);
    color: white;
    transition: all ease 300ms;
}

.btn-noticia:hover {
    background-color: rgb(30, 99, 145);
}

table {
    width: 70%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

tbody tr td{
    font-weight: 400;
}

.tabela-todos-dados {
    margin-top: 2rem;
}